name: Testes de CI - calculadora

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-e-testar:
  
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        
        python-version: ['3.9', '3.11'] 

    runs-on: ${{ matrix.os }}

    steps:
    - name: 1. Fazer checkout do código
      uses: actions/checkout@v4

    - name: 2. Configurar Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: 3. Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: 4. Rodar os testes
      run: pytest